<!DOCTYPE html>
<html>
<head>
  <title>Isncl</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
<%= link_to  "All Coupons", coupons_path %>
</nav>
<nav>
<%= link_to  "New Coupon", new_coupon_path %>
</nav>
<%= yield %>

</body>
</html>
